{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Encurtador de urls</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
        <script src="{% static 'js/materialize.min.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>