{% extends 'base.html' %}

{% block content %}
    <h1>Ranking de Urls mais clicadas</h1>

    <table>
        <thead>
            <tr>
            <th>Shortened Url</th>
            <th>Typed Url</th>
            <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td><a href="{% url 'redirect' shortened_url=url.shortened_url %}">localhost:8000/r/{{ url.shortened_url }}</a></td>
                    <td>{{ url.typed_url }}</td>
                    <td>{{ url.clicks }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}